 <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a  class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="https://localhost:7291/images/Logo2-removebg-preview.png" alt="" width="150px">
                </a>
                <p class="text-center">Your Social Campaigns</p>
                <form [formGroup]="loginForm">
                  <div class="mb-3">
                    <label for="UserName" class="form-label">Email</label>
                    <input type="email" class="form-control" id="UserName" formControlName="UserName" aria-describedby="emailHelp">
                  </div>
                   <span *ngIf="loginForm.get('UserName')?.touched && loginForm.get('UserName')?.invalid" class="text-danger">
                    <span *ngIf="loginForm.get('UserName')?.hasError('required')">Email is required.</span>
                    <span *ngIf="loginForm.get('UserName')?.hasError('email')">Enter a valid email.</span>
                  </span>


                  <div class="mb-3 position-relative">
                    <label for="PasswordHash" class="form-label">Password</label>
                      <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="PasswordHash"
            class="form-control pe-5"
            formControlName="PasswordHash"
            />

            <span
                class="position-absolute d-flex align-items-center"
                style="top: 50%; bottom: 0; right: 30px; cursor: pointer;"
                (click)="togglePasswordVisibility()"
            >
                <i
                class="zmdi"
                [ngClass]="passwordVisible ? 'zmdi-eye-off' : 'zmdi-eye'"
                style="font-size: 1.3rem;"
                ></i>
            </span>
                  </div>
                  <span *ngIf="loginForm.get('PasswordHash')?.touched && loginForm.get('PasswordHash')?.invalid" class="text-danger">
                    <span *ngIf="loginForm.get('PasswordHash')?.hasError('required')">Password is required.</span>
                  </span>

                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <a class="text-primary fw-bold" href="/security/forget-password">Forgot Password ?</a>
                  </div>
                 <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit" (click)="login()">Sign In
                 </button>

                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to Project Hub?</p>
                    <a class="text-primary fw-bold ms-2" routerLink="/security/signup">Create an account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
